*{
  margin:0;
  padding:0;
  color: #f2f2f2;
  box-sizing:border-box;
  font-family:Arial, Helvetica, sans-serif;
}
.header {
    padding:15px;
    background-color:#ff6d33;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    font-size: 11px;
    text-align: center;
    color: #f2f2f2;
  }
nav{
  background-color: #13cbe4;
  padding:10px 40px 10px 70px;
  border:1px solid #000;
  border-left:none;
  border-right:none;
  color: #f2f2f2;
}
nav ul{
  display:flex;
  list-style:none;
  flex-wrap:wrap;
  align-items:center;
  justify-content: center;
  color:#000;
}
nav ul li.name{
  flex:1;
  font-size:30px;
  font-weight:700;
  color: #f2f2f2;
  text-align:left;
}
nav ul div.buttons{
  display:inline-flex;
  padding: 0 25px;
  color:#000;
}
nav ul div.buttons a{
  text-decoration:none;
  font-size:19px;
  padding:0 12px;
  color:#000;
}
.nav input[type=text] {
  padding: 16px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  border-radius: 5px;
  width: 20em;
}
nav #searchbtn{
  padding-left: 60px;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}
h1 {
    text-align: center;
    font-weight: bold;
    font-family: Impact, "Haettenschweiler", 'Arial Narrow Bold', sans-serif;
}
body {
  height: 500px;
}
#loginbtn {
  background-color: #333; /* Grey */
  border: none;
  color: white;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  border-radius: 5px;
}

#signupbtn {
  background-color: #333 ; /* Grey */
  border: none;
  color: white;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  border-radius: 5px;
}

#cart{
  background-color: #333; /* Grey */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  border-radius: 5px;
  padding: 10px 22px;
}


/* Style the  navigation bar */
.navbar {    
    background-color: #333;
    overflow: hidden;
    width: 100%;  
    height: 50px;
}

/* Style the nav links */
.navbar a {
  float: left;
  display: block;
  color: blueviolet;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.navbar a:hover {
  color: red;
  background-color: white;
}

.navbar input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    border-radius: 5px;
    width: 20em;
}

/* Moving the searh to the right */
.navbar .searchbar {
  float: right;

}

.navbar #searchbtn{
    padding-left: 60px;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}



.browsebuttons{
  display: flex;
  justify-content: center;
}

.previous-round{
    border-radius: 50%;
    background-color: #333;
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    color: white;
    margin-top: 10px;
    margin-bottom: 15px;
}

a:hover {
  background-color:rgb(58, 10, 230);
  color: black;
}

.next-round{
    border-radius: 50%;
    background-color: #333;
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    color: white;   
    margin-top: 10px;
    margin-bottom: 15px;
}

a:hover {
  background-color:rgb(58, 17, 240);
  color: black;
}

.imagediv::after{
  content: "";
  clear: both;
  display: table;
  box-sizing: border-box;
}
.container{
  max-width:1000px;
  margin:auto;
  overflow: auto;
}
.toolsgallery{
  margin:5px;
  float:centre;
  width:120px;
}
.toolsgallery img{
  width: 100%;
  height:auto;
}
.info{
  padding:10px;
  text-align: center;
}

img {
  width: 500px;
}/*
.extraimages{
  float:right;
  display:flex;
}*/

.images{
  float:left;
  width:100%;
  padding:25px;
  display: table;
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-right: 40px;
}


.footer{
    padding:2px;
    background-color:#3366ff;
    text-align:center;
}
    
/*css for shopall  */

.btn-primary {
  color: white;
  background-color: #56CCF2;
  border: none;
  border-radius: .3em;
  font-weight: bold;
}

.btn-primary:hover {
  background-color: #2D9CDB;
}

.shop-item {
  margin: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.shop-item-details {
  display: flex;
  align-items: center;
  padding: 5px;
}

.shop-item-image {
  height: 250px;
}

.btn {
  text-align: center;
  vertical-align: middle;
  padding: .67em .67em;
  cursor: pointer;
}

.section-header {
  font-family: "Metal Mania";
  font-weight: normal;
  color: #333;
  text-align: center;
  font-size: 2.5em;
}

.content-section {
  margin: 1em;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 1.5em;
}


.shop-item-details {
  display: flex;
  align-items: center;
  padding: 5px;
}

/* css for footer*/
.footer{
  padding:2px;
  background-color:#3366ff;

  

}

/** css for checkout page*/
h3{
  color: #000;
}

label{
  color: #000;
}